{
  "class": "ADC",
  "controls": {
    "class": "Controls",
    "logLevel": "error"
  },
  "id": "http-canonical-cm-example-template",
  "label": "Central Manager Example Template",
  "remark": "",
  "schemaVersion": "3.43.0",
  "tenant5LhYODjoRTm91rolcXlEdNQ": {
    "class": "Tenant",
    "{{ as3_tenant_name }}": {
      "{{ as3_tenant_name }}-Pool": {
        "allowNetworks": [
          {
            "bigip": "Default"
          }
        ],
        "class": "Pool",
        "loadBalancingMode": "round-robin",
        "members": [
          {
            "ratio": 10,
            "servers": [
              {% set comma = joiner(",") %}
              {% for members in pool_members %}
              {
                  "address": "{{ hostvars[members]['ansible_host'] }}",
                  "name": "{{ hostvars[members]['inventory_hostname'] }}"
              },
              {% endfor %}
            ],
          "servicePort": 443
          }
        ],
        "monitors": [
          {
            "use": "http"
          }
        ]
      },
      "{{ as3_tenant_name }}-Pool_service": {
        "class": "Service_Pool",
        "pool": "{{ as3_tenant_name }}-Pool"
      },
      "{{ as3_tenant_name }}-VIP": {
        "class": "Service_HTTP",
        "mirroring": "L4",
        "persistenceMethods": [],
        "snat": "auto",
        "virtualAddresses": [
          "{{ vip_ip_address }}"
        ],
        "virtualPort": 80
      },
      "class": "Application",
      "http": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "http",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.0\r\n\r\n",
        "timeout": 16
      }
    }
  }
}
