{
  "class": "ADC",
  "controls": {
    "class": "Controls",
    "logLevel": "error"
  },
  "id": "http-canonical-cm-example-template",
  "label": "Central Manager Example Template",
  "remark": "",
  "schemaVersion": "3.43.0",
  "tenant2rYbnmocSKaLfVmF905V99gg": {
    "class": "Tenant",
    "test": {
      "class": "Application",
      "http": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "http",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.0\r\n\r\n",
        "timeout": 16
      },
      "http2": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "http2",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.1",
        "timeout": 16
      },
      "https": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "https",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.0\r\n\r\n",
        "timeout": 16
      },
      "icmp": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "icmp",
        "timeout": 16
      },
      "inband": {
        "class": "Monitor",
        "failureInterval": 30,
        "failures": 3,
        "monitorType": "inband",
        "responseTime": 20,
        "retryTime": 300
      },
      "pTLSServer_Local_test": {
        "certificates": [
          {
            "certificate": "tlsserver_local_cert_test_test_c_Use-Case-2-Cert_ecda"
          }
        ],
        "class": "TLS_Server"
      },
      "tcp": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "tcp",
        "receive": ".*",
        "receiveDown": "",
        "send": "",
        "timeout": 16
      },
      "tcp-half-open": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "tcp-half-open",
        "timeout": 16
      },
      "test": {
        "class": "Service_HTTPS",
        "mirroring": "L4",
        "persistenceMethods": [],
        "policyWAF": {
          "bigip": "Ansible-AAP-WAF"
        },
        "pool": "test_p",
        "serverTLS": "pTLSServer_Local_test",
        "snat": "auto",
        "virtualAddresses": [
          "10.10.10.10"
        ],
        "virtualPort": 80
      },
      "test_p": {
        "class": "Pool",
        "loadBalancingMode": "round-robin",
        "members": [
          {
            "ratio": 10,
            "servers": [],
            "servicePort": 80
          }
        ],
        "monitors": [
          {
            "use": "http"
          }
        ]
      },
      "tlsserver_local_cert_test_test_c_Use-Case-2-Cert_ecda": {
        "certificate": {
          "bigip": "Use-Case-2-Cert.crt"
        },
        "class": "Certificate",
        "privateKey": {
          "bigip": "Use-Case-2-Cert.pem"
        }
      }
    }
  }
}