{
  "class": "ADC",
  "controls": {
    "class": "Controls",
    "logLevel": "error"
  },
  "id": "http-canonical-cm-example-template",
  "label": "Central Manager Example Template",
  "remark": "",
  "schemaVersion": "3.43.0",
  "tenant2rYbnmocSKaLfVmF905V99Kg": {
    "Use-Case-4-App": {
      "My_ASM_Policy": {
        "class": "WAF_Policy",
        "ignoreChanges": true,
        "policy": "https://raw.githubusercontent.com/f5devcentral/f5-bd-ansible-labs/main/301-BIGIP-Next-Basics/AS3/04-WAF-Policy-Management-AS3/files/Ansible-AAP-WAF.json"
      },
      "Use-Case-4-App": {
        "class": "Service_HTTP",
        "mirroring": "L4",
        "persistenceMethods": [],
        "policyWAF": {
          "use": "My_ASM_Policy"
        },
        "pool": "Use-Case-4-Pool",
        "snat": "auto",
        "virtualAddresses": [
          "10.1.20.8"
        ],
        "virtualPort": 4443
      },
      "Use-Case-4-Pool": {
        "class": "Pool",
        "loadBalancingMode": "round-robin",
        "members": [
          {
            "ratio": 10,
            "servers": [
              {
                "address": "10.1.10.5",
                "name": "Node-1"
              },
              {
                "address": "10.1.10.6",
                "name": "Node-2"
              }
            ],
            "servicePort": 80
          }
        ],
        "monitors": [
          {
            "use": "http"
          }
        ]
      },
      "class": "Application",
      "http": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "http",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.0\r\n\r\n",
        "timeout": 16
      }
    },
    "class": "Tenant"
  }
}