{
	"class": "AS3",
	"action": "deploy",
	"persist": true,
	"declaration": {
		"class": "ADC",
		"schemaVersion": "3.0.0",
		"id": "usecase5",
		"label": "Ansible Workshops 5",
		"remark": "HTTPS with pool 5",
		"AnsibleWorkshop": {
			"class": "Tenant",
			"AS3-UseCase-5": {
				"class": "Application",
				"{{F5_VIP_Name}}": {
					"class": "Service_HTTPS",
					"virtualPort": 8084,
					"virtualAddresses": [
						"{{private_ip}}"
					],
					"profileHTTP": "basic", 
					"pool": "{{ F5_VIP_Name }}_pool",
					"policyWAF": {
           "use": "{{F5_VIP_Name}}-Policy"
					},
          "redirect80": false,
					"serverTLS": {
              "bigip": "/Common/clientssl"
          },
          "persistenceMethods": []
				},
				"{{ F5_VIP_Name }}_pool": {
					"class": "Pool",
          "minimumMembersActive": 0,
          "minimumMonitors": "all",
					"monitors": [
						"http"
					],
					"members": [{
						"servicePort": 80,
					  "serverAddresses": [
                    {% set comma = joiner(",") %}
                    {% for mem in pool_members %}
                        {{comma()}} "{{  hostvars[mem]['private_ip']  }}"
                    {% endfor %}
            ]
					}]
				},
			"{{F5_VIP_Name}}-Policy": {
      "class": "WAF_Policy",
      "url": "{{git_website}}{{git_workspace}}/{{repo_name}}/raw/master/{{ASM_Final_File_Name}}",
      "ignoreChanges": false
			}
			}
		}
	}
}
