"AS3-UseCase-1": {
  "class": "Application",
  "{{F5_VIP_Name_UC1}}": {
    "class": "Service_HTTPS",
    "virtualAddresses": [
		"{{ private_ip }}"
	],
    "profileMultiplex": {
		"bigip": "/Common/oneconnect"
    },
    "pool": "{{ F5_VIP_Name_UC1 }}_pool",
    "serverTLS": {
		"bigip": "/Common/clientssl"
    },
    "persistenceMethods": []
  },
  "{{ F5_VIP_Name_UC1 }}_pool": {
    "class": "Pool",
    "minimumMembersActive": 0,
    "minimumMonitors": "all",
    "monitors": [
		"http"
    ],
    "members": [{
		"servicePort": 80,
		"serverAddresses": [
			{% set comma = joiner(",") %}
			{% for mem in pool_members %}
				{{comma()}} "{{  hostvars[mem]['private_ip']  }}"
			{% endfor %}
      	]
    }]
  }
},
"AS3-UseCase-2": {
	"class": "Application",
	"{{F5_VIP_Name_UC2}}": {
		"class": "Service_HTTPS",
		"virtualPort": 8081,
		"virtualAddresses": [
			"{{ private_ip }}"
		],
		"pool": "{{ F5_VIP_Name_UC2 }}_pool",
		"redirect80": false,
		"profileMultiplex": {
			"bigip": "/Common/oneconnect"
		},
		"serverTLS": "{{ F5_VIP_Name_UC2 }}_cert",
		"persistenceMethods": []
	},
	"{{ F5_VIP_Name_UC2 }}_pool": {
		"class": "Pool",
		"minimumMembersActive": 0,
		"minimumMonitors": "all",
		"monitors": [
			"http"
		],
		"members": [{
			"servicePort": 80,
			"serverAddresses": [
			{% set comma = joiner(",") %}
			{% for mem in pool_members %}
				{{comma()}} "{{  hostvars[mem]['private_ip']  }}"
			{% endfor %}
			]
		}]
	},
	"{{ F5_VIP_Name_UC2 }}_cert": {
		"class": "TLS_Server",
		"certificates": [{
			"certificate": "{{ F5_VIP_Name_UC2 }}_crt"
		}]
	},
	"{{ F5_VIP_Name_UC2 }}_crt": {
		"class": "Certificate",
		"remark": "in practice we recommend using a passphrase",
		"certificate": "{{ lookup('file', '{{playbook_dir}}/files/app-demo.crt') | replace('\n', '\\n') }}",
		"privateKey": "{{ lookup('file', '{{playbook_dir}}/files/app-demo.key') | replace('\n', '\\n') }}"
	}
},
"AS3-UseCase-3": {
	"class": "Application",
	"{{F5_VIP_Name}}": {
		"class": "Service_HTTPS",
		"virtualPort": 8082,
		"virtualAddresses": [
			"{{ private_ip }}"
		],
		"profileHTTP": "basic", 
		"pool": "{{ F5_VIP_Name }}_pool",
		"policyWAF": {
			"use": "{{F5_VIP_Name}}-Policy"
		},
		"profileMultiplex": {
			"bigip": "/Common/oneconnect"
		},
		"redirect80": false,
		"serverTLS": {
			"bigip": "/Common/clientssl"
		},
		"persistenceMethods": []
	},
	"{{ F5_VIP_Name }}_pool": {
		"class": "Pool",
		"minimumMembersActive": 0,
		"minimumMonitors": "all",
		"monitors": [
			"http"
		],
		"members": [{
			"servicePort": 80,
			"serverAddresses": [
				{% set comma = joiner(",") %}
				{% for mem in pool_members %}
					{{comma()}} "{{  hostvars[mem]['private_ip']  }}"
				{% endfor %}
			]
		}]
	},
	"{{F5_VIP_Name}}-Policy": {
		"class": "WAF_Policy",
		"url": "{{ ASM_Policy_Website }}{{ file_name.stdout }}",
		"ignoreChanges": false
	}
}