{
  "class": "ADC",
  "controls": {
    "class": "Controls",
    "logLevel": "error"
  },
  "id": "http-canonical-cm-example-template",
  "label": "Central Manager Example Template",
  "remark": "",
  "schemaVersion": "3.43.0",
  "tenant2rYbnmocSKaLfVmF905V99Kg": {
    "Use-Case-4-App": {
      "Use-Case-4-App": {
        "class": "Service_HTTPS",
        "mirroring": "L4",
        "persistenceMethods": [],
        "pool": "Use-Case-4-Pool",
        "serverTLS": "pTLSServer_Local_Use-Case-4-App",
        "policyWAF": {
          "cm": "Ansible-AAP-WAF"
        },
        "snat": "auto",
        "virtualAddresses": [
          "10.1.20.8"
        ],
        "virtualPort": 4443
      },
      "Use-Case-4-Pool": {
        "class": "Pool",
        "loadBalancingMode": "round-robin",
        "members": [
          {
            "ratio": 10,
            "servers": [
              {
                "address": "10.1.10.5",
                "name": "Node-1"
              },
              {
                "address": "10.1.10.6",
                "name": "Node-2"
              }
            ],
            "servicePort": 80
          }
        ],
        "monitors": [
          {
            "use": "http"
          }
        ]
      },
      "class": "Application",
      "http": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "http",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.0\r\n\r\n",
        "timeout": 16
      },
      "pTLSServer_Local_Use-Case-4-App": {
        "certificates": [
          {
            "certificate": "tlsserver_local_cert_Use-Case-2-App_Use-Case-2-Cert_Use-Case-2-Cert_ecda"
          }
        ],
        "class": "TLS_Server"
      },
      "tlsserver_local_cert_Use-Case-2-App_Use-Case-2-Cert_Use-Case-2-Cert_ecda": {
        "certificate": {
          "cm": "Use-Case-2-Cert.crt"
        },
        "class": "Certificate",
        "privateKey": {
          "cm": "Use-Case-2-Cert.pem"
        }
      }
    },
    "class": "Tenant"
  }
}