"web_app": {
    "class": "Application",
    "serviceMain": {
        "class": "Service_HTTPS",
        "virtualAddresses": [
            "{{ private_ip }}"
        ],
        "profileMultiplex": {
            "bigip": "/Common/oneconnect"
        },
        "pool": "app_pool"
        "serverTLS": {
                    "bigip": "/Common/clientssl"
                },
        "persistenceMethods": []
    },
    "app_pool": {
        "class": "Pool",
        "monitors": [
            "http"
        ],
        "members": [
            {
                "servicePort": 443,
                "serverAddresses": [
                    {% set comma = joiner(",") %}
                    {% for mem in pool_members %}
                        {{comma()}} "{{  hostvars[mem]['private_ip']  }}"
                    {% endfor %}

                ]
            }
        ]
    }
}
