{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.0.0",
    "id": "usecase1",
    "label": "Ansible Workshops",
    "remark": "HTTPS with pool",
    "{{ as3_tenant_name }}": {
      "class": "Tenant",
      "AS3-UseCase-1": {
        "class": "Application",
        "service_Main": {
          "class": "Service_HTTPS",
          "virtualAddresses": [
            "{{ private_ip }}"
          ],
          "profileMultiplex": {
              "bigip": "/Common/oneconnect"
          },
          "pool": "app_pool",
          "serverTLS": {
					    "bigip": "/Common/clientssl"
					},
          "persistenceMethods": []
        },
        "app_pool": {
          "class": "Pool",
					"minimumMembersActive": 0,
					"minimumMonitors": "all",
          "monitors": [
            "http"
          ],
          "members": [{
            "servicePort": 443,
            "serverAddresses": [
                    {% set comma = joiner(",") %}
                    {% for mem in pool_members %}
                        {{comma()}} "{{  hostvars[mem]['private_ip']  }}"
                    {% endfor %}
            ]
          }]
        }
      }
    }
  }
}
