---
# tasks file for Backup-Restore Role
 - name: Check if Backup File Exists
   stat:
     path: "{{local_folder_location}}/UseCase-00-backup.ucs"
   register: backup_file
   tags:
     - restore

 - name: Restore F5 Configuration
   include: f5_restore_config.yaml
   tags:
     - restore
   when: backup_file.stat.exists == true

 - debug:
     msg: "Restore F5 Configuration FAILED do to backup file not found"
   when: backup_file.stat.exists == false
   tags:
     - restore

 - debug:
     msg: "Error occurs but backup should still restore, ignore any errors."
   when: backup_file.stat.exists == true
   tags:
     - restore
