{
  "class": "ADC",
  "controls": {
    "class": "Controls",
    "logLevel": "error"
  },
  "id": "http-canonical-cm-example-template",
  "label": "Central Manager Example Template",
  "remark": "",
  "schemaVersion": "3.43.0",
  "tenant5LhYODjoRTm91rolcXlEdNQ": {
    "class": "Tenant",
    "Use-Case-1-APP": {
      "Use-Case-1-Pool": {
        "allowNetworks": [
          {
            "bigip": "Default"
          }
        ],
        "class": "Pool",
        "loadBalancingMode": "round-robin",
        "members": [
          {
            "ratio": 10,
            "servers": [
              {
                "address": "10.1.10.5",
                "name": "Node-1"
              },
              {
                "address": "10.1.10.6",
                "name": "Node-2"
              }
            ],
            "servicePort": 80
          }
        ],
        "monitors": [
          {
            "use": "http"
          }
        ]
      },
      "Use-Case-1-Pool_service": {
        "class": "Service_Pool",
        "pool": "Use-Case-1-Pool"
      },
      "Use-Case-1-VIP": {
        "class": "Service_HTTP",
        "mirroring": "L4",
        "persistenceMethods": [],
        "snat": "auto",
        "virtualAddresses": [
          "10.1.10.8"
        ],
        "virtualPort": 80
      },
      "class": "Application",
      "http": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "http",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.0\r\n\r\n",
        "timeout": 16
      },
      "http2": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "http2",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.1",
        "timeout": 16
      },
      "https": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "https",
        "receive": ".*",
        "receiveDown": "",
        "send": "GET / HTTP/1.0\r\n\r\n",
        "timeout": 16
      },
      "icmp": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "icmp",
        "timeout": 16
      },
      "inband": {
        "class": "Monitor",
        "failureInterval": 30,
        "failures": 3,
        "monitorType": "inband",
        "responseTime": 20,
        "retryTime": 300
      },
      "tcp": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "tcp",
        "receive": ".*",
        "receiveDown": "",
        "send": "",
        "timeout": 16
      },
      "tcp-half-open": {
        "class": "Monitor",
        "interval": 5,
        "monitorType": "tcp-half-open",
        "timeout": 16
      }
    }
  }
}